<aside>
	<div class="container">
		<nav>
			<ul>
				<li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
				{% for page in site.pages %} {% if page.title %}
				<li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
				{% endif %} {% endfor %}
				<li><a href="{{ "/blog" | prepend: site.baseurl }}">Blog</a></li>
				<li><a href="{{ "/writeup" | prepend: site.baseurl }}">HTB Writeups</a></li>
			</ul>
			</li>
			</ul>
		</nav>
		<a href="https://discordapp.com/users/165851543860543488" class="discordlink" target="_blank" /></a>
	</div>
</aside>

<header>
	<h1><img src="/images/logo/ubg_small.png" alt="UBG Logo" height="210" width="170" style="vertical-align:middle">{{ site.title }}</h1>
</header>
 
